<div class="hero">

  <.form
    let={f}
    for={@changeset}
    id: "demographic-form"
    phx-submit="save">


<%= label f, :gender %>
<%= select f, :gender, ["female", "male", "other", "prefer not to say"] %>
<%= error_tag f, :gender %>
<%= label f, :year_of_birth %>
<%= select f, :year_of_birth, Enum.reverse(1940..Date.utc_today.year)%>
<%= error_tag f, :year_of_birth %>
<%= hidden_input f, :user_id %>
<%= submit "Save", phx_disable_with: "Saving..." %>

    </.form>
  

</div>